.AboutSocialMedia {
    width: 100%;
    height: auto;
}
.AboutSocialMedia_container {
    width: 100%;
    max-width: 1260px;
    height: 100%;
    margin: 0 auto;
    background-image: url("../../../assets/images/minecraft.png");
    background-size: cover;
    border-radius: 10px;
}
.AboutSocialMedia_content {
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.AboutSocialMedia_heading {
    font-size: 36px;
    color: var(--heading);
    font-family: var(--MinecraftGeo);
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-shadow: 2px 2px 5px #000;
}
.AboutSocialMedia_inner {
    display: flex;
    align-items: center;
    gap: 50px;
}
.AboutSocialMedia_text_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.AboutSocialMedia_text {
    width: 100%;
    font-family: var(--fontGeo);
    color: var(--text);
    font-size: 18px;
    display: flex;
    gap: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;
}

.AboutSocialMedia_logo {
    width: 100%;
    filter: drop-shadow(5px 5px 10px #00000071);
}

@media only screen and (max-width: 1026px) {
    .AboutSocialMedia_content {
        padding: 20px 10px;
    }
    .AboutSocialMedia_heading {
        font-size: 22px;
    }
    .AboutSocialMedia_inner {
        flex-direction: column;
    }
}