.HowLSWorks {
    width: 100%;
    height: auto;
}
.HowLSWorks_container {
    width: 100%;
    max-width: 1260px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.HowLSWorks_header {
    font-size: 36px;
    color: var(--heading);
    font-family: var(--MinecraftCaps);
    margin-bottom: 20px;
    font-weight: bold;
}
.HowLSWorks_inner {
    display: flex;
    gap: 50px;
    align-items: center;
}
.font_ka {
    font-family: var(--MinecraftGeo);
}
.font_en {
    font-family: var(--MinecraftFont);
}
.line {
    width: 100px;
    height: 10px;
    background-color: var(--shining-green);
}

.HowLSWorks_text_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.HowLSWorks_text {
    width: 100%;
    font-family: var(--fontGeo);
    color: var(--text);
    font-size: 18px;
    display: flex;
    gap: 10px;
    font-weight: bold;
}

.HowLSWorks_logo {
    width: 100%;
    filter: drop-shadow(5px 5px 10px #00000071);
}

@media only screen and (max-width: 1026px) {
    .HowLSWorks_container {
        padding: 20px 10px;
    }
    .HowLSWorks_header {
        font-size: 24px;
    }
    .line {
        height: 5px;
    }
    .HowLSWorks_inner {
        flex-direction: column;
    }
}

@media only screen and (max-width: 769px) {
    .HowLSWorks_header {
        font-size: 20px;
    }
}