.Home_Header {
    width: 100%;
    height: auto;
    padding-top: 85px;
}

.object {
    width: 200px;
    left: 0;
    position: fixed;
}

.Home_Header_inner {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    /* border: 1px solid var(--border-color); */
    align-items: center;
    gap: 20px;
    /* box-shadow: 5px 5px 10px #0000002c; */
    background-image: url('../../../assets/images/minecraft1-6-4-1920x1080-png2-1.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.home_header {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    padding: 50px 20px;
    border-radius: 10px;
}

.home_header_text_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.heading {
    font-size: 64px;
    font-family: var(--MinecraftCaps);
    color: var(--heading);
    margin-top: -30px;
    text-shadow: 2px 2px 5px #000;
}
.heading_header {
    font-size: 22px;
    color: var(--text);
    font-family: var(--MinecraftFont);
    text-shadow: 2px 2px 5px #000;
}
.heading_description {
    font-size: 20px;
    color: var(--text);
    font-family: var(--fontGeo);
    font-weight: bold;
    width: 700px;
    text-shadow: 2px 2px 5px #000;
}
.heading_description_res {
    font-size: 20px;
    color: var(--text);
    font-family: var(--fontGeo);
    font-weight: bold;
    width: 700px;
    display: none;
    text-shadow: 2px 2px 5px #000;
}

.home_header_btn_container {
    display: flex;
}

.server_ip_container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: fit-content;
}
.server_ip {
    padding: 2.5px 10px;
    font-family: var(--MinecraftFont);
    font-size: 20px;
}
.home_header_server_join_btn {
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--heading);
    padding: 0px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: var(--font);
    cursor: pointer;
    transition: all .1s;
}
.home_header_server_join_btn:hover {
    background-color: var(--shining-green);
}

.home_header_image_container {
    width: 100%;
    height: 100%;
}

.home_header_image {
    width: 100%;
    filter: drop-shadow(5px 50px 10px #00000062);
}

.minecraft-svg {
  width: 100%;
  height: auto;
  display: block;
}

@media only screen and (max-width: 1026px) {
    .Home_Header_inner {
        border-radius: 0px;
    }
    .home_header {
        border-radius: 0;
    }
    .heading {
        font-size: 40px;
    }
    .heading_description {
        display: none;
    }
    .heading_description_res {
        width: auto;
        display: block;
    }
    .home_header_image_container {
        width: fit-content;
        display: flex;
        justify-content: right;
    }
}

@media only screen and (max-width: 769px) {
    .home_header {
        align-items: center;
        flex-direction: column;
        padding: 0;
        padding-top: 20px;
    }
    .home_header_text_container {
        align-items: center;
        text-align: center;
    }
    .heading {
        font-size: 55px;
    }
    .heading_description {
        font-size: 18px;
    }
}