.Social_profile {
    width: 100%;
    height: 100%;
    color: var(--heading);
    right: 0;
    position: relative;
    display: flex;
    justify-content: right;
    padding-right: 20px;
}
.Social_profile_container {
    position: fixed;
    width: 100%;
    max-width: 200px;
}
.social_profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 10px;
}
.social_profile_pfp {
    width: 96px;
    height: 96px;
    min-width: 96px;
    min-height: 96px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.social_profile_name {
    font-size: 24px;
    font-family: var(--MinecraftFont);
    color: var(--heading);
}
.social_profile_name:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1261px) {
    .Social_profile {
        display: none;
    }
}